@font-face {
    font-family: Roboto;
    src: url("../FontFamily/Roboto-regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url( "../FontFamily/Poppins-Regular.ttf");
}

@font-face {
    font-family: Owl-Cute;
    src: url("../FontFamily/Owl\ Cute.ttf");
}

@font-face {
    font-family: Laquasta;
    src: url("../FontFamily/LAQUATSA\ Regular.ttf");
}

@font-face {
    font-family: GratySans;
    src: url("../FontFamily/GratySans.otf");
}

@font-face {
    font-family: Ghost Walker;
    src: url("../FontFamily/GHOST\ WALKER\ FREE.ttf");
}

@font-face {
    font-family: Freezone;
    src: url("../FontFamily/FREEZONE.ttf");
}

@font-face {
    font-family: Dunkin;
    src: url("../FontFamily/Dunkin\ Sans\ Italic.otf");
}

@font-face {
    font-family: Brushia;
    src: url("../FontFamily/BRUSHIA.ttf");
}

@font-face {
    font-family: Blue-paint;
    src: url("../FontFamily/BLUE\ PAINT.otf");
}

@font-face {
    font-family: Avant-Garde;
    src: url("../FontFamily/AvantGardeDemiBT.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../FontFamily/Montserrat-Regular.ttf");
}